<h1>Welcome !</h1>
<p>Ceci un test <%= @variable %></p>

<% if @variable == 15 %>
	Waouhhhh ! Trop fort !
<% else %>
	Waouhhh ! Tes nul !
<% end %>

<% @variable.times do |i| %>
	<%= i %>
<% end %>
<hr>
<a href="/games">Les jeux</a>