<h1>Liste des jeux</h1>
<% @games.each do |game| %>
	<p><a href="/games/<%= game.id %>"><%= game.title %></a></p>
<% end %>

<%= form_tag "/games", method: "post" do %>
  <input type="text" name="title" />
  <input type="submit" value="Ajouter un jeu" />
<% end %>

<p><a href="/">Retour</a></p>